$grey: #7F8489;
$light-grey: #ccc7c3;
$navy: #263446;
$olive: #3d3d3b;
$blue: #4c5870;

$white: #ffffff;
$black: #000000;

$primary-color: $blue;
$primary-accent: $navy;
$secondary-color: $grey;
$secondary-accent: $light-grey;
$tertiary-color: $olive;